{% extends 'base.html' %}

{% block content %}
    <h1>About page</h1>
    <p>This is a template too for about page</p>

    <p>
        {{ my_text }}, {{ my_number }}
    </p>
    <p>
        {{ my_list }}
    </p>
    <br/><hr/>

    <ul>
        {%  for abc in my_list %}
            {% if abc == 312 %}
                <li>{{ forloop.counter }}  -  {{ abc|add:22 }}</li>
            {% endif %}
        <li>{{ forloop.counter }}  -  {{ abc }}</li>
        {% endfor %}
    </ul>

    <hr/>

    <ul>
        {%  for abc in my_list %}
            {% if abc == 312 %}
                <li>{{ forloop.counter }}  -  {{ abc|add:22 }}</li>
            {% elif abc == "abc" %}
                <li>This is not a network</li>
            {% else %}
                <li>{{ forloop.counter }}  -  {{ abc }}</li>
            {% endif %}
        {% endfor %}
    </ul>

{% endblock %}